@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'GothamLight', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dot_page{
  height:5px;
  width: 5px;
  border-radius: 999px;
  background-color: black;
  display: block;
  margin:0px 3px;
  cursor: pointer;
}
.dot_wrapper{
  display: flex;
  align-items: center;
  margin-left: 10px;

}

.MuiGrid-root .css-k83ing-MuiTypography-root {
  color: #ff0000;
}

.Mui-required:after {
  content: "*";
  color: red;
  position: absolute;
  right: 0;
}


@font-face {
  font-family: GothamBook;
  src: url(../src/fonts/GothamBook.ttf);
}


@font-face {
  font-family: GothamLight;
  src: url(../src/fonts/GothamLight.ttf);
}

@font-face {
  font-family: GothamBold;
  src: url(../src/fonts/GothamBold.ttf);
}

@font-face {
  font-family: GothamMedium;
  src: url(../src/fonts/GothamMedium_1.ttf);
}