body {
    background: #f8f8f8
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 5rem
}

h1 {
    padding-bottom: 3rem
}

fieldset {
    border: none;
    margin: 2.5rem 0;
    padding: 0
}

fieldset:first-child {
    margin-top: 0
}

fieldset:last-child {
    margin-bottom: 0
}

label {
    display: block;
    font-size: 1.2rem;
    color: #4b5563
}

[multiple],
[type=date],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea {
    display: block;
    width: 100%;
    margin-top: 1rem;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding-top: .5rem;
    padding-right: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    font-size: 1rem;
    line-height: 1.5rem
}

button[type=submit] {
    background: #3b82f6;
    color: #fff;
    cursor: pointer;
    font-size: 1.3rem;
    border: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem
}

button[type=submit]:hover {
    background: #0a59da
}

.form-required-message {
    visibility: hidden
}

input[data-touched="true"]:invalid,
textarea[data-touched="true"]:invalid {
    border: 1px solid #f44336
}

input[data-touched="true"]:invalid~.form-required-message,
textarea[data-touched="true"]:invalid~.form-required-message {
    color: #f44336;
    padding-top: 0.5rem;
    visibility: visible
}